<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-key-valu-pair-holer-heading">Create or edit a Key Valu Pair Holer</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_key">Key</label>
                    <input type="text" class="form-control" name="key" id="field_key"
                           formControlName="key"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_valueString">Value String</label>
                    <input type="text" class="form-control" name="valueString" id="field_valueString"
                           formControlName="valueString"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_valueNumber">Value Number</label>
                    <input type="number" class="form-control" name="valueNumber" id="field_valueNumber"
                           formControlName="valueNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_valueImage">Value Image</label>
                    <div>
                        <img [src]="'data:' + editForm.get('valueImageContentType')!.value + ';base64,' + editForm.get('valueImage')!.value" style="max-height: 100px;" *ngIf="editForm.get('valueImage')!.value" alt="keyValuPairHoler image"/>
                        <div *ngIf="editForm.get('valueImage')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('valueImageContentType')!.value }}, {{ byteSize(editForm.get('valueImage')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('valueImage', 'valueImageContentType', 'file_valueImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_valueImage" (change)="setFileData($event, 'valueImage', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="valueImage" id="field_valueImage"
                           formControlName="valueImage"/>
                    <input type="hidden" class="form-control" name="valueImageContentType" id="field_valueImageContentType"
                           formControlName="valueImageContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_valueBlob">Value Blob</label>
                    <div>
                        <div *ngIf="editForm.get('valueBlob')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('valueBlobContentType')!.value, editForm.get('valueBlob')!.value)">open</a><br>
                            <span class="pull-left">{{ editForm.get('valueBlobContentType')!.value }}, {{ byteSize(editForm.get('valueBlob')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({valueBlob: null});editForm.patchValue({valueBlobContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_valueBlob" (change)="setFileData($event, 'valueBlob', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="valueBlob" id="field_valueBlob"
                           formControlName="valueBlob"/>
                    <input type="hidden" class="form-control" name="valueBlobContentType" id="field_valueBlobContentType"
                           formControlName="valueBlobContentType" />
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
