<div>
    <h2 id="page-heading">
        <span>Telegram Delivery Users</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-telegram-delivery-user" [routerLink]="['/telegram-delivery-user/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Telegram Delivery User
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="telegramDeliveryUsers?.length === 0">
        <span>No telegramDeliveryUsers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="telegramDeliveryUsers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstName"><span>First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastName"><span>Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userName"><span>User Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userId"><span>User Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="chatId"><span>Chat Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phone"><span>Phone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="conversationMetaData"><span>Conversation Meta Data</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="loadedPage"><span>Loaded Page</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="currentBalance"><span>Current Balance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="currentLatitude"><span>Current Latitude</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="currentLongitude"><span>Current Longitude</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let telegramDeliveryUser of telegramDeliveryUsers ;trackBy: trackId">
                    <td><a [routerLink]="['/telegram-delivery-user', telegramDeliveryUser.id, 'view']">{{ telegramDeliveryUser.id }}</a></td>
                    <td>{{ telegramDeliveryUser.firstName }}</td>
                    <td>{{ telegramDeliveryUser.lastName }}</td>
                    <td>{{ telegramDeliveryUser.userName }}</td>
                    <td>{{ telegramDeliveryUser.userId }}</td>
                    <td>{{ telegramDeliveryUser.chatId }}</td>
                    <td>{{ telegramDeliveryUser.phone }}</td>
                    <td>{{ telegramDeliveryUser.conversationMetaData }}</td>
                    <td>{{ telegramDeliveryUser.loadedPage }}</td>
                    <td>{{ telegramDeliveryUser.status }}</td>
                    <td>{{ telegramDeliveryUser.currentBalance }}</td>
                    <td>{{ telegramDeliveryUser.currentLatitude }}</td>
                    <td>{{ telegramDeliveryUser.currentLongitude }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/telegram-delivery-user', telegramDeliveryUser.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/telegram-delivery-user', telegramDeliveryUser.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(telegramDeliveryUser)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="telegramDeliveryUsers?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
