<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-food-heading">Create or edit a Food</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              formControlName="description"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_iconImage">Icon Image</label>
                    <div>
                        <img [src]="'data:' + editForm.get('iconImageContentType')!.value + ';base64,' + editForm.get('iconImage')!.value" style="max-height: 100px;" *ngIf="editForm.get('iconImage')!.value" alt="food image"/>
                        <div *ngIf="editForm.get('iconImage')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('iconImageContentType')!.value }}, {{ byteSize(editForm.get('iconImage')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('iconImage', 'iconImageContentType', 'file_iconImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_iconImage" (change)="setFileData($event, 'iconImage', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="iconImage" id="field_iconImage"
                           formControlName="iconImage"/>
                    <input type="hidden" class="form-control" name="iconImageContentType" id="field_iconImageContentType"
                           formControlName="iconImageContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_restorant">Restorant</label>
                    <select class="form-control" id="field_restorant" name="restorant" formControlName="restorantId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="restorantOption.id" *ngFor="let restorantOption of restorants; trackBy: trackById">{{ restorantOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
