<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="telegramUser">
            <h2><span>Telegram User</span> {{ telegramUser.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{ telegramUser.firstName }}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{ telegramUser.lastName }}</span>
                </dd>
                <dt><span>User Name</span></dt>
                <dd>
                    <span>{{ telegramUser.userName }}</span>
                </dd>
                <dt><span>Chat Id</span></dt>
                <dd>
                    <span>{{ telegramUser.chatId }}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{ telegramUser.phone }}</span>
                </dd>
                <dt><span>Conversation Meta Data</span></dt>
                <dd>
                    <span>{{ telegramUser.conversationMetaData }}</span>
                </dd>
                <dt><span>Order Id Paused</span></dt>
                <dd>
                    <span>{{ telegramUser.orderIdPaused }}</span>
                </dd>
                <dt><span>Ordered Food Id Paused</span></dt>
                <dd>
                    <span>{{ telegramUser.orderedFoodIdPaused }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/telegram-user', telegramUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
